.car-card-e {
  background-color: #fffffc;
  width: 32.3rem;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.card-text-container-e {
  margin: 1.5rem 0 1.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-text-container-e hr {
  width: 13.3rem;
  margin: 0;
  margin-bottom: 1rem;
  border: #b42f47 solid 1.5px;
}

.odometer-year-container-e {
  margin-bottom: 2.6em;
  font-weight: 600;
  font-style: italic;
  font-size: 0.9rem;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.car-card-e img {
  width: 14.6rem;
  margin-left: 0.6rem;
}

.gray-text-e {
  color: #a0a0a0;
}

.price-btn {
  display: flex;
  align-items: flex-start;
}
