.modal-container-t .modal-content {
    background-color: #464b59;
}

.modal-container-t .modal-body {
    font-size: 1.6rem;
    color: #fffffc;
    font-style: italic;
    font-weight: 600;
    padding: 0.7rem 2.8rem;
}

.modal-container-t .modal-header {
    border: none;
}

.modal-container-t .modal-footer {
    border: none;
    justify-content: center;
}


.modal .modal-container-t {
    position: relative;
    top: 17%;
    left: 9%;
    width: 300px;

}

.modal-delete-btn-t {
    background-color: #b42f47;
    margin: 0.1rem 1rem;
    padding: 0.375rem 3.8rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.modal-cancel-btn-t {
    background-color: #fffffc;
    color: #464b59;
    border: none;
    margin: 0.1rem 1rem;
    padding: 0.375rem 3.9rem;
    border-radius: 5px;
    margin-bottom: 3rem;
}