.column-t {
  display: flex;
  flex-direction: column;
  color: white;
}

.user-content-t {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details-container-t {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.email {
  color: white;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.user-image-wrapper-t {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.user-image-wrapper-t > img {
  max-width: 100%;
  width: 120px;
  border-radius: 120px;
}

.selling-vehicles-title {
  color: #b42f47;
  margin-bottom: 3rem;
  font-style: italic;
  font-weight: 600;
}

.model-make-container-t > h1 {
  display: flex;
  flex-direction: row;
}

.small-image-car-wrapper {
  margin-right: 1rem;
}

.small-image-car-wrapper > img {
  max-width: 100%;
  width: 125px;

  background-color: #fffffc;
  border-radius: 1rem;
  padding: 1.4rem 0.3rem;
}

div > .edit-profile-btn-t {
  width: 16.4rem;
  font-size: 1.6rem;
  background-color: #464b59;
  border-radius: 1rem;
  margin-bottom: 2.8rem;
}

.edit-profile-btn-container-t {
  width: 16.4rem;
  font-size: 1.6rem;
  background-color: #464b59;
  border-radius: 1rem;
  margin-bottom: 2.8rem;
}

div > .delete-btn-small-t {
  width: 5rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  background-color: #1d1f2b;
  border: 1.5px solid #d92546;
  padding: 0.4rem;
  color: #d92546;
}

div > .edit-btn-small-t {
  width: 5rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  background-color: #464b59;
  padding: 0.4rem;
  margin-bottom: 3.5rem;
  margin-left: 1rem;
  margin-right: 0.8rem;
  white-space: nowrap;
}

.small-buttons-container-t {
  display: flex;

  flex-direction: row;
  /* margin-bottom: 3rem; */
}

.selling-vehicles-container {
  margin-left: 4rem;
  width: 80%;
}

.view-details-btn-t {
  margin-top: 0.5rem;
  color: #d92546;
  font-size: 1.1rem;
  width: 7rem;
}

.model-make-container-t h2 {
  font-style: italic;
  font-weight: 600;
}
