/* --------------------GENERAL STYLE-------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body #root {
  font-size: 1.6rem;
  background-color: #1d1f2b;
  font-family: "Open Sans", sans-serif;
}

/* --------------------FONT STYLE-------------------- */
body h1 {
  font-size: 2.1rem;
  color: #fffffc;
  font-style: italic;
  font-weight: 600;
}

body h2 {
  font-size: 1.6rem;
  color: #fffffc;
}

body h3 {
  font-size: 1.3rem;
  color: #464b59;
}

.my-car-sign-red,
.my-car-sign-white {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

.my-car-sign-red {
  color: #b42f47;
}

.my-car-sign-white {
  color: #fffffc;
}

.vehicle-details-title {
  color: #a6a6a6;
  font-style: italic;
}

/* --------------------BUTTON STYLE-------------------- */
input,
button {
  outline: none;
  color: #fffffc;
  border: none;
  background-color: #1d1f2b;
}

.red-btn {
  width: 30.2rem;
  border-radius: 1rem;
  background-color: #d92546;
  padding: 1.2rem;
  font-size: 1.8rem;
}

.edit-btn-big {
  width: 16.4rem;
  font-size: 1.6rem;
  background-color: #464b59;
  border-radius: 1rem;
}

.edit-btn-small {
  width: 14.5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  background-color: #464b59;
  padding: 0.4rem;
}

.delete-btn {
  width: 14.5rem;
  border-radius: 1rem;
  background-color: #1d1f2b;
  border: 1.5px solid #d92546;
  font-size: 1.3rem;
  color: #d92546;
  padding: 0.4rem;
}

.view-details-btn {
  width: 6.1rem;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  background-color: #d92546;
  padding: 0.6rem;
}

/* --------------------INPUT STYLE-------------------- */
.main-redline-input {
  border-bottom: 2px solid #b42f47;
  /* width: 32.8rem; */
  width: 85%;
  background-color: #1d1f2b;
  padding: 1.8rem;
}

.user-title-red {
  color: #b42f47;
}
